$header_height = 64px;

.page {
    /* A layout for a header */
    &__header {
        height: $header_height;
        background-color: #fff;
        overflow: hidden;
        box-shadow(0px, 2px, 4px, darken($che_accent, 50%));
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }

    /** A layout for a main content of a page: scrollable */
    &__main {
        padding-top: $header_height;
        bs-border-box();
        /* The percentage is calculated with respect to the height of the generated box's containing block. If the height of the containing block is not specified explicitly (i.e., it depends on content height), and this element is not absolutely positioned, the value computes to 'auto' */
        /* http://stackoverflow.com/a/8468131/1197421 */
        min-height: 100%;
        position: relative;
        background-color: $che_accent;
    }
}
