@import "../../common.blocks/page/globals";

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

.che-header {

    display: block;
    padding: 6px 12px 0;
    clearfix();

    &__main {
        float: right;
    }

    &__side {
        padding-top: 8px;
    }
}
