@import "../../common.blocks/page/globals";

.header {
    display: block;
    padding: 15px 3% 0;
    &__menu {
        float: left;
        .menu-icon {fill: $che_primary;}
    }

    &__phone {
        color: $che_primary;
        float: right;
        font: $che_font_size/$che_line_height $che_font_family;
    }
    &__phone-text{
        font-size: 13px;
    }
    &__phone-number {
        font-weight: bold;
        .link {
            color: #00A3B7;
            text-decoration: none;
        }
    }
    &__logo {
        //float: left;
        margin: 0 0 0 5%;
        padding: 0;
        border: 0;
        width: 118px;
        height: 33px;
        display: inline-block;
        /* http://stylus-lang.com/docs/functions.url.html */
        /* Stylus is bundled with an optional function named url(), which replaces the literal url() calls (and conditionally inlines them using base64 Data URIs) */
        background-image: url(che-logo.png);
        //retina-image(url(che-logo@2x.png));
    }
}



