.country-list {
   font-family: $che_font_family;
   font-size: $che_font_size;
   padding: 12px 4px;

    /* A list item */
   &__row {
       padding: 12px 8px;
       cursor: pointer;

       &:hover {
           /* todo: use a darken of a $main_color */
           background: #a38700;
       }

       &_disabled {
           display: none;
       }

       &_filtered {
           display: none;
       }
    }
}
