/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

.flat-link {
    font-family: $che_font_family;
    font-size: $che_font_size;
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
    cursor: pointer;

    /**
     * Remove the outline on focused links when they are also active or hovered in all browsers (opinionated).
     */
    &:active, &:hover {
        outline-width: 0;
    }
}
