/**
 * Параметры конфигурации
 * Правила наименования:
 * - lowercase (like in css)
 * - starts with $ sign (like in sass)
 * - use an underscore sign to separate words (like in javascript)
 */

$che_primary = #00a3b7;
$che_accent = #ffe046;
/* todo: change a font (пока поставила приближенный шрифтб не знаю стоит ли перегружать мобилку не стандартным шрифтом)*/
$che_font_family = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$che_line_height = 120%;
/* https://developers.google.com/speed/docs/insights/UseLegibleFontSizes */
$che_font_size   = 16px;


/* Вспомогательные методы */

/* https://gist.github.com/mattmcmanus/895668 */
/* http://stylus-lang.com/docs/interpolation.html */
vendor(prop, args) {
  -webkit-{prop}: args;
  -moz-{prop}: args;
  -o-{prop}: args;
  {prop}: args;
}

/**
 * Prevent adjustments of font size after orientation changes in
 * - IE
 * - iOS
 * https://github.com/necolas/normalize.css/
 */
fix-text-size-adjust() {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

border-radius() {
  vendor('border-radius', arguments);
}

/* https://developer.mozilla.org/ru/docs/Web/CSS/box-shadow */
box-shadow() {
  -moz-box-shadow: arguments;
  -webkit-box-shadow: arguments;
  box-shadow: arguments;
}

/* box-sizing */
bs-border-box() {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

clearfix() {
  zoom: 1;

  &:after, &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* vendor-specific calc
   https://coderwall.com/p/qac-og/sass-css3-calc-mixin
   Usage:
{
  color: #fff;
  calc-minus('height', 30%, 10px);
}

Alternative:
   http://stackoverflow.com/a/32272159/1197421
   height: "calc(100% - %s)" % $header-height;
*/
calc-minus(prop, val1, val2) {
  /* http://stylus-lang.com/docs/bifs.html#sfmt- */
  $str = s("calc(%s - %s)", val1, val2);
  {prop}: s("-webkit-%s", $str);
  {prop}: s("-moz-%s", $str);
  /* @todo: only this value will be in an output file:
    previous {prop} values will be removed */
  {prop}: $str;
}


/* Allows to define a background-image for a doubled image for devices with a higher pixel ratio such as retina displays. This works by using a @media query to serve an "@2x" version of the file.
 * Define background-image as `path` with optional width and height, adding an @2x variant.
 * - http://tj.github.io/nib/
 * - github.com/LearnBoost/stylus/issues/1050
 * - github.com/LearnBoost/stylus/issues/1038
 */
retina-image(path, w = auto, h = auto, min_pixel_ratio = 1.5) {

  s = 'all and (-webkit-min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min--moz-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(-o-min-device-pixel-ratio:' + min_pixel_ratio + '/1),'
  s = s + '(min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio*92, dpi) + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio, dppx) + ')'

  @media s {
    background-image: path;
    if w in (cover contain) and h == auto { h = null; }
    background-size: w h;
  }
}
