html {
    margin: 0;
    height: 100%;
}

.page {
    margin: 0;
    height: 100%;
    /* The content of body will probably need to change dynamically.
       Setting min-height to 100% will accomplish this goal. */
    min-height: 100%;
}