$side_height = 180px;

.start-view {
    min-height: 100%;
    text-align: center;
    display: none;

    &_visible {
        display: block;
    }

    /**
     * Список выбранных стран
     * Каждый элемент может быть удалён из списка
     * Рядом со списком: кнопка "Добавить страну"
     */
    &__selected-countries {
        // todo: change later, it is demo
        height: 100px;
        width: 100%;
        border: 1px solid #ccc;
        bs-border-box();
        padding: 8px;
        font-family: $che_font_family;
        font-size: $che_font_size;
        fix-text-size-adjust();
    }

    /* layout for a side block (usually at the bottom): image, links */
    &__side {
        height: $side_height;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
