.opt-view {
    padding: 8px 12px;
    display: none;

    &_visible {
        display: block;
    }

    /* Медицинская страховка на сумму */
    &__first {
        margin-top: 4px;
    }

    /* Дополнительные опции */
    &__second {
        margin-top: 8px;
    }

    /* кнопки Главная / Далее */
    &__final {
        margin: 16px 0 8px;
    }
}
