@import "../../common.blocks/page/globals";

.che-planet {
    height: 100%;
    background-color: $che_accent;
    /** this image doesnt inlined during build (more than 14kb) */
    background-image: url(che-planet.jpg);
    retina-image(url(che-planet@2x.jpg), auto, 100%);
    background-repeat: no-repeat;
    /* todo: redraw an image to appropriate size */
    background-position: 64% bottom;
    background-size: auto 100%;
}
